body {
  background: #ebdfdf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

header {
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

nav {
  width: 100%;
  height: 100px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: rgb(227, 199, 59);
}

header h1 {
  text-align: center;
  padding-bottom: 15px;
  font-size: 40px;
}

header img {
  width: 200px;
}

header nav {
  background: #f5e186;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  float: right;
}

header nav ul li a {
  padding: 10px 20px;
  display: block;
  color: #272241;
  text-decoration: none;
}

header nav ul li a:hover {
  background: #ff8000;
}

aside {
  width: 30%;
  float: right;
  background-color: #f9dfbd;
}
aside img {
  height: 1200px;
  width: 500px;
  padding-left: 5px;
}
.main {
  background-color: #faefbc;
  width: 70%;
  display: flex;
  float: left;
  height: 100vh;
}
@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.carr-pet {
  position: relative;
  width: 55vw;
  height: 300px;
  margin-top: 15vh;
}

.carr-pet > img {
  position: absolute;
  top: 0;
  left: 100px;
  opacity: 0;
  animation: display 15s infinite;
  width: 500px;
}

img:nth-child(2) {
  animation-delay: 3s;
}

img:nth-child(3) {
  animation-delay: 6s;
}

img:nth-child(4) {
  animation-delay: 9s;
}

img:nth-child(5) {
  animation-delay: 12s;
}

footer {
  background: #80323c;
  padding: 10px;
  margin: auto;
  overflow: hidden;
  width: 100%;
}
.contenedor-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}
.contenedor-footer h4 {
  color: #fff;
  border-bottom: 3px solid #ff834e;
  padding-bottom: 5px;
  margin-bottom: 3px;
}
.contenedor-footer p {
  color: #fff;
}

footer h2 {
  color: #fff;
  text-align: center;
  margin-top: 10px;
}
