* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background: #ebdfdf;
}

header {
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

nav {
  width: 100%;
  height: 100px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: rgb(227, 199, 59);
}

header h1 {
  text-align: center;
  padding-bottom: 15px;
  font-size: 40px;
}

header img {
  width: 200px;
}

header nav {
  background: #f5e186;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  float: right;
}

header nav ul li a {
  padding: 10px 20px;
  display: block;
  color: #272241;
  text-decoration: none;
}

header nav ul li a:hover {
  background: #ff8000;
}

.container {
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 59%;
}

.container-section {
  width: 100%;
}

.container-input form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

form > input {
  height: 40px;
  width: 90%;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #000;
  margin: 10px 5px 10px 5px;
  cursor: pointer;
}
input::-webkit-input-placeholder {
  color: black;
  text-align: center;
}
input:hover {
  background: #ff8000;
  border: 3px solid #ff8000;
}
.boton {
  width: 200px;
  background: #ff8000;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
.boton:hover {
  transform: scale(1.03);
  background-color: #ff8000;
  color: white;
  box-shadow: 2px 2px 2px #ff8000;
}

/* ASIDE */

aside {
  background: #899dfa;
  width: 29%;
  height: 49vh;
  display: flex;
  flex-wrap: wrap;
  float: right;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
}

aside h2 {
  color: white;
  padding-bottom: 10px;
}

.container-aside {
  background: #766ca8;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.container-aside form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* FOOTER */

footer {
  /* clear: both; */
  height: 150px;
  background: black;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  clear: both;
}

.contenedor-izq,
.contenedor-der {
  color: white;
  padding: 15px;
  margin: auto;
}
.contenedor-izq h3,
.contenedor-der h3 {
  color: #ff8000;
  border-bottom: 2px solid rgb(75, 87, 219);
  padding-bottom: 15px;
}

.contenedor-izq p,
.contenedor-der p {
  padding-top: 15px;
}

.titulo-final {
  color: #ff8000;
  padding: 15px;
  margin: auto;
}

footer {
  background: #80323c;
  padding: 10px;
  margin: auto;
  overflow: hidden;
  width: 100%;
}
.contenedor-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}
.contenedor-footer h4 {
  color: #fff;
  border-bottom: 3px solid #ff834e;
  padding-bottom: 5px;
  margin-bottom: 3px;
}
.contenedor-footer p {
  color: #fff;
}

footer h2 {
  color: #fff;
  text-align: center;
  margin-top: 10px;
}
